<!DOCTYPE html>
<html>
<title>City Explorer - Comparsion</title>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <meta name="fade_out" http-equiv="refresh" content="2;url=#seasons" /> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
crossorigin=""/>

<!-- Icons -->
<link rel="stylesheet" href="/static/css/ionicons.min.css">
<link rel="stylesheet" href="/static/css/leaflet.extra-markers.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/animate.css">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
</head>

<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="/" class="w3-bar-item w3-button w3-wide">City Explorer</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="/seasons" class="w3-bar-item w3-button"><i class="fas fa-calendar"></i> SEASONS</a>
      <a href="/map/nyc" class="w3-bar-item w3-button"><i class="far fa-map"></i> MAP</a>
      <a href="/comparsion" class="w3-bar-item w3-button"><i class="fas fa-industry"></i> COMPARISON</a>
      <a href="/team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon --><a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<div id="plot" class="div_plot" align="center">
<!--<script src="/static/js/comparison_data.js"></script>-->
  <script src="/static/js/plots.js"></script>

</div>

</body></html>